body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #eeeeed59;
}

.header {
  margin: 0px;
  padding: 0.5em;
  text-align: center;
  font-family: sans-serif;
  background-color: #802c5a;
  color: #eeeeee;
}

a {
  width: 30%;
  margin: auto;
  margin-top: 2em;
  display: block;
  border: 0.2em solid #eee;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  text-decoration: none;
  text-align: center;
  font-size: 1.4em;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #eee;
  color: #7f2c59;
}

a:hover {
  background-color: #ccc;
  border-color: #ccc;
}

hr {
  width: 52%;
  margin: 0px auto 20px auto;
}
